
.product-page-container{
    //edit size
    height: 90%;
    display: flex;
    flex-direction: column;
    .page-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        .page-name {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            .name-invert{
                font-size: 3.1em;
                font-weight: bold;
                -webkit-text-stroke: 1px white;
                -webkit-text-fill-color:transparent;
                letter-spacing: 1px;
            }
            .name-normal{
                font-size: 3.1em;
                font-weight: bold;
                color: white;
                letter-spacing: 1px;
            }
        }
        .cart{
            color: #FAF9F6;
        }
    }
    .store-container{
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 5;
        .categories-container{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 7px;
            .product-count{
                color: #FAF9F6;
                font-weight: 600;
                font-size: 16px;
                margin-top: 15px;
            }
            .categories-title{
                padding: 10px 25px;
                border: 1px solid #AED96D;
                color: white;
                font-weight: 500;
                font-size:15px;
                margin-top: 10px;
                box-shadow: 0 0 3px #AED96D
            }
            .filter-wrapper{
                padding: 15px 35px;
                border: 1px solid #AED96D;
                color: whitesmoke;
                font-weight: 500;
                font-size: 16px;
                margin-top: 20px;
                display:flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                box-shadow: 0 0 3px #AED96D;
                .filters{
                    font-size: 16px;
                }
            }

            ul {
                list-style-type: none;
            }
            .cart-count{
                margin-top: 20px;
                color: whitesmoke;
                font-size: 13px;

            }
        }
        .product-list-container{
            flex: 4;
            height: 100%;
            width: 100%;
        }
    }
}

    
  .products {
    display: grid;
    gap: 20px;
    border: 2px solid #AED96D;
    height: 100%;
    padding: 10px;
    box-shadow: 0 0 8px #AED96D;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    
    
    .product-box {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 320px;
        height: 220px;
        padding: 5px;
        border: 1px solid #AED96D;
        box-shadow: 0 0 5px #AED96D;
        
        .product-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .productIMG {
                border: 1px solid black;
                min-width: 90px;
                min-height: 90px;
                object-fit: cover;
                flex: 1;
            }
            .info-container {
                flex: 2;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin-left: 5px;
                min-width: 150px;
                height: 130px;
                border: none;
                
                .title {
                    color: #FAF9F6;
                    font-size: 16px;
                    font-weight: 550;
                    margin-bottom: 8px;
              }
                .flavor {
                    color: #E2DFD2;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 5px;
              }
                .category {
                    color: #E2DFD2;
                    font-size: 11px;
                    font-weight: 550;
                    margin-bottom: 5px;
                }
                .price {
                    color: #E2DFD2;
                    font-size: 16px;
                    font-weight: 650;
                    margin-bottom: 5px;
                }
            }
        }

        .button-wrap {
            padding: 2px;
            margin-top: 20px;
            width: 80%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap:5px;

            .button {
                padding: 3px 6px;
                border: 1px solid #AED96D;
                color: white;
                background-color: #61615e;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;
                box-shadow: 0 0 3px #AED96D;
                &:hover {
                  background-color: #AED96D;
                  color: black}
            }
        }

    }
}
.checkbox-container{
    display: block;
    position: relative;
    padding-left: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
.checkmark {
    position: absolute;
    top: 0px;
    left: -25px;
    height: 18px;
    width: 18px;
    background-color: #eee;
  }
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
.checkbox-container input:checked ~ .checkmark {
    background-color: #AED96D;
  }
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
@media (min-width: 680px) {
    .products { grid-template-columns: repeat(1, 1fr); }
    .productIMG {
        max-width: 40px;
        max-height: 40px;
    }
  }
@media (min-width: 800px) {
    .products { grid-template-columns: repeat(2, 1fr); }
    .productIMG {
        max-width: 60px;
        max-height: 60px;
    }
  }
@media (min-width: 1200px) {
    .products { grid-template-columns: repeat(3, 1fr); }
  }

      