.container {
    width: 100%;
    height: 100vh;
    background-color: var(--gray);
}

.header {
    display: flex;
    gap: 2rem;
    font-size: 3rem;
    border: 1px solid red;
    justify-content: center;
    color: var(--white);
    font-style: italic;
}